.login {
     border: 1px  black; /* borda do login */
     border-radius: 4%; /* borda arredonda do login */
     background-color: darkslategrey; /*cor de fundo do componente login */
    
}

#email { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
    text-align: left;
     bottom: -5px;
    
    

}

#campo {
    cursor: text ; }

    